<!DOCTYPE html>
<html>
  <head>
    <title>Recipes</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render 'menu' %>

  <section>
    <% if @search_recipes.present? %>
      <% @search_recipes.each do |recipe| %>
      <div class="col-md-12">
        <h3><%= link_to recipe.name, recipe_path(recipe) %></h3>
        <p><%= recipe.ingredients %></p>
          </div>
      <% end %>
  </section>
<% end %>
    <%= notice %>
    <%= alert %>
    <%= yield %>
  </body>
</html>
